#block_container
{
    position: relative;
    text-align: center;
    width: 100%;
    top: 20px;
}

#members_table
{
    display:inline-block;
    text-align: left;
}

#events_table
{
    display:inline-block;
    position: absolute;
    left: 0px;
    text-align: left;
}

.date
{
    font-size: 10px;
}