{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<script src="{% static 'profile/script_profile.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'profile/style_profile4.css' %}">
<style>
    #consumption {margin: auto}
    #barchart { display:inline-block; vertical-align: top; }
    #piechart { vertical-align: top; display:inline-block;}
</style>

{% csrf_token %}

<div class='block_container'>


<div id='profile_picture'>
{% if this_user.profile.image %}
<img src="{{this_user.profile.image.url}}" class='img-fluid' width=150/> 
{% else %}
<img src="{% static 'images/profile_default.png'%}" class='img-fluid' width=100 height=100 /> 
{% endif %}
</div>
    
<div id='info'>
<p id='username'>{{ this_user.username }}</p>

{% if drunkness > 0 %}
<p id='promille'>Beregnet promille: {{drunkness|floatformat:1 }}</p>
{% endif %}

{{ my_profile }}
{% if my_profile %}
<a href="{% url 'edit_profile' %}"><button id='edit_button'>Instillinger</button></a>
<p>Saldo: {{ this_user.profile.saldo }} kr</p>
{% endif %}
    
<p>Status:
{% if this_user.is_staff %}
staff
{% else %}
medlem
{% endif %}
</p>

<p>Poeng: {{this_user.profile.poeng}}</p>
</div>
    
</div>


<div class='block_container'>
<div id='consumption'>
{% if chartdata %}
<h4>Mitt forbruk</h4>
{% load nvd3_tags %}

    {# Jquery CDN : Needed when using jquery_on_ready=True #}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% include_chart_jscss %}
    
    <div class='chart' id='barchart'>
    {% load_chart charttype chartdata chartcontainer extra %}
    {% include_container chartcontainer 250 400 %}
    </div>
    
    <div class='chart' id='piechart'>
    {% load_chart charttype2 chartdata2 chartcontainer2 extra2 %}
    {% include_container chartcontainer2 250 300 %}
    </div>
{% else %}
<p>Du har ikke gjort noen kjøp ennå</p>
    {% endif %}
</div>    

<!--
<div id='favourites'>

{% if favourites %}
<table id='fav_table'>
    <tr>
        <th colspan="2">Mine Favoritter</th>
    </tr>
{% for fav in favourites %}
    <tr>
        <td>{{ forloop.counter }}. </td>
        <td>{{ fav }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
</div>
-->
</div>
    
<br />

<div style='overflow: auto; height:200px' id='hist_table'>
{% if purchases %}
<h4>Mine kjøp</h4>
<table id='history_table' style='width:100%'>
    <tr>
        <th>Vare</th>
        <th>Pris</th>
        <th>Arrangement</th>
        <th>Tid</th>
    </tr>
    
    {% for purchase in purchases %}
    <tr>
        <td>{{purchase.product}}</td>
        <td>{{purchase.amount}}</td>
        <td>{{purchase.event}}</td>
        <td>{{purchase.time}}</td>
    </tr>
    {% endfor %}
    
</table>
{% endif %}
</div>
<br />



{% endblock  %}