{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'event/style_event1.css' %}">
<script src="{% static 'event/script_event4.js' %}"></script>

<br />
<h3>{{ event.title }}</h3>
{% if event.active %}
<button style="border-radius: 2px;" onclick="quit_btn()">Avslutt</button><a href='{% url "quit_event" %}' id='quit_link' hidden></a>
{% endif %}

<div id='block'>
<div id='menu'> 
<table style='width:100%'>
{% if beer %}
    <th colspan="2">Øl</th>
    {% for i in beer %}
    <tr onclick=add_order(this)> 
        <td class=title><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td class=price>{{ i.price }} kr</td>
        <td class=id hidden>{{ i.id }}</td>
        <td class=add><button><span class="oi oi-plus"></span></button></td>
    </tr>
    {% endfor %}

{% endif %}


{% if drinks %}

    <th colspan="2">Drinker</th>
    {% for i in drinks %}
    <tr onclick=add_order(this)> 
        <td class=title><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td class=price>{{ i.price }} kr</td>
        <td class=id hidden>{{ i.id }}</td>
        <td class=add><button><span class="oi oi-plus"></span></button></td>
    </tr>
    {% endfor %}

{% endif %}



{% if shots %}

    <th colspan="2">Shots</th>
    {% for i in shots %}
    <tr onclick=add_order(this)> 
        <td class=title><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td class=price>{{ i.price }} kr</td>
        <td class=id hidden>{{ i.id }}</td>
        <td class=add><button><span class="oi oi-plus"></span></button></td>
    </tr>
    {% endfor %}

{% endif %}

{% if other %}

    <th colspan="2">Annet</th>
    {% for i in other %}
    <tr onclick=add_order(this)> 
        <td class=title><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td class=price>{{ i.price }} kr</td>
        <td class=id hidden>{{ i.id }}</td>
        <td class=add><button><span class="oi oi-plus"></span></button></td>
    </tr>
    {% endfor %}

{% endif %}
    </table>

</div>


<div id='customer_container'>
    <form method='POST' action="{% url 'event' %}">
        {% csrf_token %}
        <div id='order'>
<table style='width:100%' id='order_table'>
    <tr>
    <th>Order</th>
    <th>Price</th>
    </tr>
    <tr>
    <td style='color:black'><strong>Total:</strong></td>
    <td id='total'><strong>0</strong></td>
    </tr>
</table>
</div>
<br />
Username:
<br />
<input type='text' name='username' id='username_field' />

<input class='btn btn-primary' type='submit' value='Pay' id='pay_btn' /> 
</form>
{% if error %}
<p style="color: red">{{error}}</p>
{% endif %}

<div id='recent_customers'>
{% if customers %}
    <table style='width:100%'>
    <tr>
    <th>Nylige</th>
    </tr>
    {% for customer in customers %}
    <tr onclick=fill_and_pay(this)>
    <td class='username'>{{ customer }}</td>
    <td><button><span class="oi oi-dollar"></span></button></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</div>
<br />
    
</div>
</div>

{% endblock %}