{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<script src="{% static 'event/script_event1.js' %}"></script>

Event!
<div id='menu'> 
{% if beer %}
<div id=beer_table>
<table style='width:50%'>
    <th>Øl</th>
    {% for i in beer %}
    <tr onclick=add_order(this)> 
        <td class=title><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td class=price>{{ i.price }} kr</td>
        <td class=add><button><span class="oi oi-plus"></span></button></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}

<br/>

{% if drinks %}
<div id=drink_table>
<table style='width:50%'>
    <th>Drinker</th>
    {% for i in drinks %}
    <tr onclick=add_order(this)> 
        <td class=title><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td class=price>{{ i.price }} kr</td>
        <td class=add><button><span class="oi oi-plus"></span></button></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}

<br/>

{% if shots %}
<div id=shot_table>
<table style='width:50%'>
    <th>Shots</th>
    {% for i in shots %}
    <tr onclick=add_order(this)> 
        <td class=title><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td class=price>{{ i.price }} kr</td>
        <td class=add><button><span class="oi oi-plus"></span></button></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}

<br/>

{% if other %}
<div id=other_table>
<table style='width:50%'>
    <th>Annet</th>
    {% for i in other %}
    <tr onclick=add_order(this)> 
        <td class=title><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td class=price>{{ i.price }} kr</td>
        <td class=add><button><span class="oi oi-plus"></span></button></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
</div>

<br />
<br />
<br />



<br />
<br />
<div id='customer_container'>
    <form method='POST' action="{% url 'event' %}">
        {% csrf_token %}
        <div id='order'>
<table style='width:30%' id='order_table'>
    <tr>
    <th>Order</th>
    <th>Price</th>
    </tr>
    <tr>
    <td><strong>Total:</strong></td>
    <td id='total'><strong>0</strong></td>
    </tr>
</table>
</div>
Username:
<br />
<input type='text' name='username' />

<!--<table style='width:30%' id='hidden_order' hidden>
</table> -->

<input class='btn btn-primary' type='submit' value='Pay' /> 
    </form>
<br />
{% if error %}
{{error}}
{% endif %}
    
</div>


{% endblock %}