{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'history/style_history.css' %}">
<style>
    .chart {padding: 40px;}
</style>
{% csrf_token %}
{% if event %}
<h3>Arrangement: {{ event.title }}</h3>
{% else %}
<h3>Alle arrangementer</h3>
{% endif %}

<div id='key_data'>
{% if key_data %}
<table id='key_data_table'>
    <tr>
        <th>Antall deltakere</th>
        <th>Varer solgt</th>
        <th>Inntekt</th>
        <th>Kostnad</th>
        <th>Overskudd</th>
    </tr>
    <tr>
        <td>{{ key_data.n_contenders }}</td>
        <td>{{ key_data.n_sales }}</td>
        <td>{{ key_data.revenue }}</td>
        <td>{{ key_data.cost }}</td>
        <td>{{ key_data.earnings }}</td>
    </tr>
</table>
{% endif %}
</div>

<div id='consumption'>
{% load nvd3_tags %}

    {# Jquery CDN : Needed when using jquery_on_ready=True #}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% include_chart_jscss %}
    
    <div class='chart' id='barchart'>
    {% load_chart charttype chartdata chartcontainer extra %}
    {% include_container chartcontainer 300 600 %}
    </div>
    
    <div class='chart' id='piechart'>
    {% load_chart charttype2 chartdata2 chartcontainer2 extra2 %}
    {% include_container chartcontainer2 300 600 %}
    </div>
</div>    

<br />

{% if purchases %}
<div style='overflow: auto; height:500px' id='hist_table'>
<table id='history_table' style='width:100%'>
    <tr>
        <th>Kunde</th>
        <th>Vare</th>
        <th>Pris</th>
        <th>Arrangement</th>
        <th>Tid</th>
    </tr>
    
    {% for purchase in purchases %}
    <tr>
        <td>{{purchase.user}}</td>
        <td>{{purchase.product}}</td>
        <td>{{purchase.amount}}</td>
        <td>{{purchase.event}}</td>
        <td>{{purchase.time}}</td>
    </tr>
    {% endfor %}
    
</table>
{% endif %}
</div>

{% endblock %}