{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<style>
    #container {margin: auto; text-align: center; width: 40%;}
    button {
    color: grey;}

    button:hover {
    background-color: gray; /* Green */
    color: white; }
</style>

<div id=container>
<br />
<h3>Velkommen til Isobar</h3>

{% if user.is_staff %}
<br />
{% if event.active %}
<p>Du har et pågående arrangement: {{event.title}}</p>
<a href='{% url "event" %}'><button>Fortsett</button></a>
<a href='{% url "quit_event" %}'><button>Avslutt</button></a>

{% else %}
<a href='{% url "start_event" %}'><button>Start new event</button></a>
<a href='{% url "event" %}'><button>Enkeltsalg</button></a>
{% endif %}
{% endif %}

<br />
<br />
{% if user.is_authenticated %}
<p>Hei {{user.username}}! Betaling skjer via vipps. Har du spørsmål, send henvendelse til endre.hauge.paulsen@lyse.net</p>
{% else %}
<p>For å være med på moroa må du lage deg en bruker. Dette gjør du ved å klikke på "Sign up" øverst i høyre hjørne.</p>
{% endif %}
</div>

{% endblock %}