{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<style>
    #container {margin: auto; text-align: center; width: 40%;}
    button {
    color: grey;}

    button:hover {
    background-color: gray;
    color: white; }
</style>

<div id=container>
<br />
<h3>Velkommen til:</h3>

<img src="{% static 'images/isobar2.jpg'%}" class='img-fluid' width=800 height=600 />
{% if user.is_staff %}
<br />
{% if event.active %}
<p>Du har et pågående arrangement: {{event.title}}</p>
<a href='{% url "event" %}'><button>Fortsett</button></a>
<a href='{% url "quit_event" %}'><button>Avslutt</button></a>

{% else %}
<a href='{% url "start_event" %}'><button>Nytt arrangement</button></a>
<a href='{% url "event" %}'><button>Enkeltsalg</button></a>
{% endif %}
{% endif %}

<br />
<br />
{% if user.is_authenticated %}
<p>Hei {{user.username}}! Betaling skjer via vipps. Har du spørsmål, send henvendelse til endre.hauge.paulsen@lyse.net</p>
{% else %}
<p>Du må være medlem for å bruke denne siden. Gå til "Login" eller "Sign up" øverst i høyre hjørne.</p>
{% endif %}
</div>

{% endblock %}