{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'event/style_event1.css' %}">

<div id=menu_table style="width:60%; margin: auto">
<br />
<h3>Meny</h3>
<table style="width:100%">
{% if beer %}
    <th colspan="3">Øl</th>
    {% for i in beer %}
    <tr> 
        <td><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td>{{ i.price }} kr</td>
        {% if i.avg_rating > 0.9  %}
        <td>{{i.avg_rating|floatformat:1 }} <span class="oi oi-star"></span></td>
        {% endif %}
        <!--<td><img src="{{i.image.url}}" class='img-fluid' style='height: 50px;'/></td>-->
        
    </tr>
    {% endfor %}
{% endif %}



{% if drinks %}
    <th colspan="3">Drinker</th>
    {% for i in drinks %}
    <tr> 
        <td><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td>{{ i.price }} kr</td>
        {% if i.avg_rating > 0.9  %}
        <td>{{i.avg_rating|floatformat:1 }} <span class="oi oi-star"></span></td>
        {% endif %}
        
    </tr>
    {% endfor %}
{% endif %}


{% if shots %}

    <th colspan="3">Shots</th>
    {% for i in shots %}
    <tr> 
        <td><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td>{{ i.price }} kr</td>
        {% if i.avg_rating > 0.9  %}
        <td>{{i.avg_rating|floatformat:1 }} <span class="oi oi-star"></span></td>
        {% endif %}
        
    </tr>
    {% endfor %}

{% endif %}



{% if other %}
    <th colspan="3">Annet</th>
    {% for i in other %}
    <tr> 
        <td><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td>{{ i.price }} kr</td>
        {% if i.avg_rating > 0.9  %}
        <td>{{i.avg_rating|floatformat:1 }} <span class="oi oi-star"></span></td>
        {% endif %}
        
    </tr>
    {% endfor %}

{% endif %}
</table>
</div>

{% endblock %}