{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'event/style_event1.css' %}">

<div id=menu_table style="width:60%; margin: auto">
<br />
<h3>Meny</h3>
<table style="width:100%">
{% if beer %}
    <th colspan="2">Øl</th>
    {% for i in beer %}
    <tr> 
        <td><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td>{{ i.price }} kr</td>
    </tr>
    {% endfor %}
{% endif %}



{% if drinks %}
    <th colspan="2">Drinker</th>
    {% for i in drinks %}
    <tr> 
        <td><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td>{{ i.price }} kr</td>
    </tr>
    {% endfor %}
{% endif %}


{% if shots %}

    <th colspan="2">Shots</th>
    {% for i in shots %}
    <tr> 
        <td><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td>{{ i.price }} kr</td>
    </tr>
    {% endfor %}

{% endif %}



{% if other %}
    <th colspan="2">Annet</th>
    {% for i in other %}
    <tr> 
        <td><a href="{% url 'product_info' i.id %}">{{ i.title }}</a></td>
        <td>{{ i.price }} kr</td>
    </tr>
    {% endfor %}

{% endif %}
</table>
</div>

{% endblock %}